BasedOnStyle: LLVM

IndentWidth: 8
TabWidth: 8
UseTab: Always

BreakBeforeBraces: Linux
BraceWrapping:
  AfterFunction: true
  AfterStruct: true
  AfterClass: true
  AfterEnum: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

AllowShortIfStatementsOnASingleLine: false

AlignAfterOpenBracket: DontAlign
AlignOperands: false

SpaceBeforeParens: ControlStatements

SpacesBeforeTrailingComments: 1
ReflowComments: false

SortIncludes: false
IncludeBlocks: Preserve

PointerAlignment: Left

IndentCaseLabels: false
ColumnLimit: 80
